*{
    padding: 0%;
    margin: 0%;
    
}
.header{
border:2px solid grey;
width: 100%;
height: 100px;
background-color: grey;
display: flex;
justify-content: center;
align-items: center;
color: white;
margin-bottom: 20px;
}
.banner{

    border:0px solid;
        width: 100%;
height: 600px;
background-color: skyblue;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.section1{
    display: flex;
    justify-content:space-evenly ;
}
.circle{
    border:0px;
width: 20%;
height: 250px;
background-color:rgb(199, 199, 8) ;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

}
.section2{
    display: flex;
   
}
.main{
    border:0px;
    background-color: grey;
    width:50%;
    height:550px;
    margin-bottom: 20px;
    display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
margin-right: 20px;
}
 .Article{
  
    width: 100%;
height: 160px;
background-color: orange; 
margin-bottom: 20px;




}  
.box
{
    border: 0px solid white;
    width: 50%;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    

}
.section3{
    display: flex;

    justify-content: space-evenly;
}
.rect{
    border:0px;
width: 20%;
height: 300px;
background-color:orangered ;

display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;

 

}
.footer{
    border:2px solid grey;
    width: 100%;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    }